Project/AirportWebsite/AirportWebsite/Service References/WcfServiceReference/WcfDemo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDemo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDemo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWcfPlane">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfPlane" nillable="true" type="tns:WcfPlane" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfPlane" nillable="true" type="tns:ArrayOfWcfPlane" />
  <xs:complexType name="WcfPlane">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currentState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="planeID" type="xs:int" />
      <xs:element minOccurs="0" name="planeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="speed" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfPlane" nillable="true" type="tns:WcfPlane" />
</xs:schema>