Project/AirportWebsite/AirportWebsite/Service References/WcfServiceReference/WcfDemo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/WcfDemo.AirportManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfDemo" />
  <xs:element name="retrievePlanesByCompanyL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrievePlanesByCompanyLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfDemo" minOccurs="0" name="retrievePlanesByCompanyLResult" nillable="true" type="q1:ArrayOfWcfPlane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCollision">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findCollisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfDemo" minOccurs="0" name="findCollisionResult" nillable="true" type="q2:ArrayOfWcfPlane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>